* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container {
    width: 1680px;
    margin: 0 auto;
}

.menu {
    display: inline-flex;
    box-sizing: border-box;
    background-color: #472424;
    width: 1680px;
    height: 50px;
    padding-top: 11px;
    padding-left: 284px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.left_pane a {
    font-weight: 400;
    margin: 0 19px;
}

.left_pane a:hover {
    color: #ff7373;
}

.basket {
    margin-left: 512px;
    margin-right: 41px;
}

.basket a:hover {
    color: #dcc5b8;
}

.autorisation a {
    margin: 0%;
}

.autorisation .login {
    box-sizing: border-box;
    width: 91px;
    height: 50px;
    background-color: #472424;
    padding: 16px 20px;

}

.autorisation .login:hover {
    background-color: #ff7373;
    width: 91px;
    height: 50px;
    padding: 16px 20px;
}

.autorisation .register {
    box-sizing: border-box;
    width: 91px;
    height: 50px;
    background-color: #472424;
    padding: 16px 20px;
    margin-left: -4.5px;
}

.autorisation .register:hover {
    background-color: #ff7373;
    width: 91px;
    height: 50px;
    padding: 16px 20px;
}